/* ------------------------------------------------
 * BODY
 * ------------------------------------------------
 */

html, body {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------
 * HUD
 * ------------------------------------------------
 */

.fps {
    position: absolute;
    color: white;
    right: 10px;
    top: 10px;
}

.message {
    position: absolute;
    left: 10px;
    top: 10px;
}

.error {
    color: red;
}

.pointerlock-not-supported {
    display: none;
}